<div class="row main">
	<div class="main-login main-center">
	    <h2>Upload</h2>
		<hr style="width: 100%;">
		<form class="" method="post" action="/upload" enctype="multipart/form-data">

			
			<div class="form-group">
				<label for="picture" class="cols-sm-2 control-label">Picture</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<input type="file" name="picture" id="picture"></input>
					</div>
				</div>
				
			</div>

			<hr style="width: 100%;">
			<div class="form-group">
				<button class="btn btn-lg btn-default btn-primary btn-block">Upload</button>
			</div>
		
		</form>
	</div>
</div>